.custom-bg-dark{
    background-color:#2d1b87 !important;
}

nav.navbar{
    height: 6rem;
}

a.navbar-brand{
    text-transform: uppercase;
    letter-spacing: 3px;
}

li.nav-item a {
    text-transform: uppercase;
}

@media screen and (max-width: 767px){
    div#navbarCollapse{
        width: 100%;
        position: fixed;
        top: 75px;
        left: 0;
        padding-left: 3rem;
        padding-right: 3 rem;
        padding-bottom: 5px;
        background-color: #2d1b87;
    }
}

div#app-container{

    top: 96px;
    left: 0;    
    bottom: 98px;
    width: 100%;
    padding-top: 7rem;  
    padding-right: 3rem;
    padding-bottom: 4rem;
    padding-left: 3rem; 
    background-color: #fff;
    overflow: auto;
}

footer#custom-footer{
    height: 3rem;
    background-color: #2d1b87;
    font-size: 1 rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #fff;
}

#posts div {
    display: inline-block;
    margin: 6px 8px;
}

#details p{
    font-style: italic;
    text-align: justify;
    text-justify: inter-word;
}

#details h3{
    text-align: center;
    font-style: italic;
}

